@import '~lib/styles/modules';

.post-footer {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid $oc-gray-1;
  display: flex;
  color: $oc-gray-5;
  svg {
    font-size: 1.75rem;
    cursor: pointer;
  }
  span {
    margin-left: 0.25rem;
    font-size: 0.8rem;
    padding-bottom: 0.25rem;
  }
  .likes {
    display: flex;
    align-items: center;
    .svg {
      &:hover {
        color: $oc-gray-6;
      }
      &:active {
        color: $oc-red-8;
      }
    }
    .active {
      color: $oc-pink-7;
      &:hover {
        color: $oc-pink-5;
      }
    }
  }
  .comments {
    margin-left: auto;
    display: flex;
    align-items: center;
    svg {
      &:hover {
        color: $oc-gray-6;
      }
      &:active {
        color: $oc-cyan-6;
      }
    }
  }
}