@import '~lib/styles/modules';
@import '~lib/styles/shadow';

.positioner {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  height: 100%;
  .shadowed-box {
    @include shadow(2);
    width: 500px;
    .logo-wrapper {
      background: $oc-teal-7;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        color: white;
        font-size: 2.4rem;
        letter-spacing: 5px;
        text-decoration: none;
      }
    }
    .contents {
      background: white;
      padding: 2rem;
      height: auto;
    }
  }
}