@import '~lib/styles/modules';
@import '~lib/styles/shadow';
@import '~lib/styles/utils';

.post-item {
  width: calc((100% - 32px) / 3);
  @include media("<desktop") { width: calc(100% - 16px) / 2 }
  @include media("<tablet") { width: 100% }
  margin-bottom: 1rem;
  background: white;
  @include shadow(1);
  .head {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $oc-gray-2;
    .user-thumbnail {
      background: $oc-gray-2;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
    .username {
      font-weight: 500;
      margin-left: 0.3rem;
      font-size: 0.9rem;
      text-decoration: none;
      color: $oc-gray-7;
      &:hover {
        color: $oc-gray-9;
      }
    }
    .count {
      color: $oc-gray-6;
      margin-left: 0.3rem;
      font-size: 0.8rem;
    }
    .time {
      color: $oc-gray-4;
      font-size: 0.8rem;
      margin-left: auto;
    }
  }
  .content {
    font-size: 1.25rem;
    color: $oc-gray-8;
    font-weight: 300;
    padding: 1rem;
    word-break: break-all;
    white-space: pre-wrap;
  }
}