@import '~lib/styles/modules';

.comment-block {
  background: $oc-gray-0;
  .input-wrapper {
    padding: 0.75rem;
    input {
      display: block;
      background: none;
      outline: none;
      border: none;
      font-size: 0.8rem;
      width: 100%;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid $oc-gray-5;
      &:focus {
        border-bottom: 1px solid $oc-cyan-4;
      }
      &::placeholder {
        color: $oc-gray-5;
      }
    }
  }
}