@import '~lib/styles/modules';
@import '~lib/styles/shadow';
@import '~lib/styles/utils';

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0px;
  @include shadow(1); 
  z-index: 20;
  .white-background {
    background: white;
    display: flex;
    justify-content: center;
    height: auto;
    .header-contents {
      width: 1200px;
      height: 55px;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      padding-right: 1rem;
      padding-left: 1rem;
      @include media("<wide") { width: 992px }
      @include media("<tablet") { width: 100% }
      .logo {
        font-size: 1.4rem;
        letter-spacing: 2px;
        color: $oc-teal-7;
        font-family: 'Rajdhani';
        text-decoration: none;
      }
      .spacer {
        flex-grow: 1;
        text-align: center;
        a {
          text-decoration: none;
          color: $oc-gray-3;
          @media (max-width: 400px) {
            display: none;
          }
          &:hover {
            color: $oc-gray-6;
          }
        }
      }
    }
  }
  .gradient-border {
    height: 3px;
    background: linear-gradient(to right, $oc-teal-6, $oc-cyan-5);
  }
}