@import '~lib/styles/modules';

.user-thumbnail {
  cursor: pointer;
  
  background: $oc-cyan-5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
      filter: brightness(105%);
  }
}