.user-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  
  background: #00bbd2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
      filter: brightness(105%);
  }
}