@import '~lib/styles/modules';
@import '~lib/styles/shadow';

.write-post {
  width: 768px;
  margin: 0 auto;
  padding: 1rem;
  background: $oc-gray-7;
  position: relative;
  @include shadow(1);
  .textarea {
    width: 100%;
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    &::placeholder {
      color: $oc-gray-3;
    }
  }
}